<div class="animated zoomIn text-center well" style="background-color:#FFFFFF;">
	<h1> You have to answer all questions before submitting!</h1>
	<form method="GET" action="/quiz"><button type="submit" class="btn btn-default hvr-grow">Go To Quiz!</button></form>

</div>