<div class="row">
	<div class="col-md-12 text-center">
		<h1>Fixed vs Growth Mindset Quiz</h1>
	</div>
</div>
<br />
<br />
<br />
<div class="row">
	<div class="col-md-5 col-md-offset-1 question">
	 <h4>Your intelligence is something very basic about you that you cannot change very much.</h4>
	</div>
	<div class="col-md-5">
		<div class="btn-group btn-group-justified ">
		  <a href="#" class="btn btn-default hvr-grow" id="strong-agree">Strongly Agree</a>
		  <a href="#" class="btn btn-default hvr-grow" id="agree">Agree</a>
		  <a href="#" class="btn btn-default hvr-grow" id="disagree">Disagree</a>
		  <a href="#" class="btn btn-default hvr-grow" id="strong-disagree">Strongly Disagree</a>
		</div>
	</div>
</div>